---

---

<head>
  <link rel="stylesheet" href="ServiceCard.css" />
</head>
<body>
  <div class="card-container grid lg:flex">

<!-- 1st card -->
      <div data-aos="fade-up" data-aos-delay="200"  class="card-item">
        <div class="item_link">
          <div class="item_bg"></div>
          <div
            class="icon bg-[#14279b] w-[70px] h-[70px] flex justify-center items-center rounded-full relative z-[2]"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="50px"
              height="50px"
              viewBox="0 0 48 48"
              ><g
                fill="none"
                stroke="white"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="4"
                ><path
                  d="M44 24a19.938 19.938 0 0 1-5.889 14.173A19.937 19.937 0 0 1 24 44C12.954 44 4 35.046 4 24a19.932 19.932 0 0 1 5.5-13.775A19.943 19.943 0 0 1 24 4a19.937 19.937 0 0 1 14.111 5.827A19.938 19.938 0 0 1 44 24"
                ></path><path
                  d="M44 24c-2.918 0-10.968-1.1-18.173 2.063C18 29.5 12.333 34.832 9.863 38.147"
                ></path><path
                  d="M16.5 5.454C19.63 8.343 26.46 15.698 29 23c2.54 7.302 3.48 16.28 4.06 18.835"
                ></path><path
                  d="M4.154 21.5c3.778.228 13.779.433 20.179-2.3c6.4-2.733 11.907-7.76 13.796-9.355M5.5 31.613a20.076 20.076 0 0 0 9 9.991"
                ></path><path
                  d="M4 24a19.932 19.932 0 0 1 5.5-13.775M24 4a19.943 19.943 0 0 0-14.5 6.225M32 5.664a20.037 20.037 0 0 1 6.111 4.163A19.938 19.938 0 0 1 44 24c0 2.462-.445 4.821-1.26 7M24 44a19.937 19.937 0 0 0 14.111-5.827"
                ></path></g
              ></svg
            >
          </div>
          <div class="title">Design</div>

          <div class="desc mb-6">
            ur web design services can assist you in reclaiming your company's online image. Your business will flourish on the Internet thanks to the combination of style and technology we provide, as well as our experience.
          </div>
        </div>
      </div>

<!-- 2nd card -->
      <div data-aos="fade-up" data-aos-delay="250" class="card-item">
        <div class="item_link">
          <div class="item_bg"></div>
          <div
            class="icon bg-[#14279b] w-[70px] h-[70px] flex justify-center items-center rounded-full relative z-[2]"
          >
          <svg class="svg_icon" xmlns="http://www.w3.org/2000/svg" width="50px" height="50px" viewBox="0 0 1024 1024"><path fill="white" d="M832 384H576V128H192v768h640zm-26.496-64L640 154.496V320zM160 64h480l256 256v608a32 32 0 0 1-32 32H160a32 32 0 0 1-32-32V96a32 32 0 0 1 32-32m160 448h384v64H320zm0-192h160v64H320zm0 384h384v64H320z"/></svg>
          </div>
          <div class="title">Development</div>

          <div class="desc">
            Our development team can construct platforms to help your business thrive by creating powerful customised solutions tailored to your particular requirements. Akeshya makes use of established and effective web development tools.
          </div>
        </div>
      </div>

<!-- 3rd card -->
      <div data-aos="fade-up" data-aos-delay="300" class="card-item">
        <div class="item_link">
          <div class="item_bg"></div>
          <div
            class="icon bg-[#14279b] w-[70px] h-[70px] flex justify-center items-center rounded-full relative z-[2]"
          >
          <svg class="svg_icon" xmlns="http://www.w3.org/2000/svg" width="50px" height="50px" viewBox="0 0 24 24"><path fill="white" d="M17.9 17.39c-.26-.8-1.01-1.39-1.9-1.39h-1v-3a1 1 0 0 0-1-1H8v-2h2a1 1 0 0 0 1-1V7h2a2 2 0 0 0 2-2v-.41a7.984 7.984 0 0 1 2.9 12.8M11 19.93c-3.95-.49-7-3.85-7-7.93c0-.62.08-1.22.21-1.79L9 15v1a2 2 0 0 0 2 2m1-16A10 10 0 0 0 2 12a10 10 0 0 0 10 10a10 10 0 0 0 10-10A10 10 0 0 0 12 2"/></svg>
          </div>
          <div class="title">Marketing</div>

          <div class="desc">
            A beautiful website is the foundation of effective marketing. Our customers achieve success where it counts—in the real world—by combining our proven approach with our passion for improving conversions and increasing ROI.
          </div>
        </div>
      </div>

<!-- 4th card -->
      <div data-aos="fade-up" data-aos-delay="350" class="card-item">
        <div class="item_link">
          <div class="item_bg"></div>
          <div
            class="icon bg-[#14279b] w-[70px] h-[70px] flex justify-center items-center rounded-full relative z-[2]"
          >
          <svg class="svg_icon" xmlns="http://www.w3.org/2000/svg" width="50px" height="50px" viewBox="0 0 24 24"><path fill="white" d="M12 4C6.486 4 2 8.486 2 14a9.89 9.89 0 0 0 1.051 4.445c.17.34.516.555.895.555h16.107c.379 0 .726-.215.896-.555A9.89 9.89 0 0 0 22 14c0-5.514-4.486-10-10-10m7.41 13H4.59A7.875 7.875 0 0 1 4 14c0-4.411 3.589-8 8-8s8 3.589 8 8a7.875 7.875 0 0 1-.59 3"/><path fill="white" d="M10.939 12.939a1.53 1.53 0 0 0 0 2.561a1.53 1.53 0 0 0 2.121-.44l3.962-6.038a.034.034 0 0 0 0-.035a.033.033 0 0 0-.045-.01z"/></svg>
          </div>
          <div class="title">Support</div>

          <div class="desc">
            Since the beginning, we at Akeshya have specialised in website maintenance. We recognise the significance of having your business online 24 hours a day, seven days a week, and we've created a system to ensure that we're always available.
          </div>
        </div>
      </div>
  </div>
</body>
