---

---

<head>
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
      rel="stylesheet"
    />
  </head>
  
  <body>
    <div class="grid gap-2 items-center justify-center">
      <div class="flex justify-center items-center gap-2 mt-20 font-sans">
        <div class="border-b-[3px] w-[4rem] border-[#14279b]"></div>
        <h1 class="font-bold text-3xl">CONTACT US</h1>
        <div class="border-b-[3px] w-[4rem] border-[#14279b]"></div>
      </div>
    </div>
  </body>