---

---

<head>
  <link
    href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
    rel="stylesheet"
  />
</head>

<body>
  <div class="grid gap-2 items-center justify-center">
    <div class="flex justify-center items-center gap-2 mt-20 font-sans">
      <div class="border-b-[3px] w-[4rem] border-[#14279b]"></div>
      <h1 class="font-bold text-3xl">OUR CORE FEATURES</h1>
      <div class="border-b-[3px] w-[4rem] border-[#14279b]"></div>
    </div>
    <p class="text-center pl-[10rem] pr-[8rem]">
      Akeshya is a forward-thinking and intelligent design firm that is
      technically and creatively capable of transforming your brand into its
      best digital self. Our approach to design and development results in
      compelling, engaging branding and immersive digital experiences that
      provide a value for money.
    </p>
  </div>
  <div
    class="grid grid-cols-4 gap-5 pl-[8rem] pr-[8rem] mt-[3rem] items-center justify-center font-raleway"
  >
    <div class="bg-gray-50 flex items-center h-[5rem] p-6 gap-2">
      <img class="w-[40px] h-[40px]" src="/public/icons/features_icons/design.svg" alt="" />
      <p class="font-bold">Web design</p>
    </div>
    <div class="bg-gray-50 flex items-center h-[5rem] p-6 gap-2">
      <img class="w-[40px] h-[40px]" src="/public/icons/features_icons/development.svg" alt="" />
      <p class="font-bold">Development</p>
    </div>
    <div class="bg-gray-50 flex items-center h-[5rem] p-6 gap-2">
      <img class="w-[40px] h-[40px]" src="/public/icons/features_icons/branding.svg" alt="" />
      <p class="font-bold">Branding</p>
    </div>
    <div class="bg-gray-50 flex items-center h-[5rem] p-6 gap-2">
      <img class="w-[40px] h-[40px]" src="/public/icons/features_icons/media.svg" alt="" />
      <p class="font-bold">Media buying</p>
    </div>
    <div class="bg-gray-50 flex items-center h-[5rem] p-6 gap-2">
      <img class="w-[40px] h-[40px]" src="/public/icons/features_icons/search.svg" alt="" />
      <p class="font-bold">Search engine</p>
    </div>
    <div class="bg-gray-50 flex items-center h-[5rem] p-6 gap-2">
      <img class="w-[40px] h-[40px]" src="/public/icons/features_icons/brandS.svg" alt="" />
      <p class="font-bold">Brand strategy</p>
    </div>
    <div class="bg-gray-50 flex items-center h-[5rem] p-6 gap-2">
      <img class="w-[40px] h-[40px]" src="/public/icons/features_icons/marketing.svg" alt="" />
      <p class="font-bold w-[200px]">Local search marketing</p>
    </div>
    <div class="bg-gray-50 flex items-center h-[5rem] p-6 gap-2">
      <img class="w-[40px] h-[40px]" src="/public/icons/features_icons/tracking.svg" alt="" />
      <p class="font-bold">Lead Tracking & Management</p>
    </div>
    <div class="bg-gray-50 flex items-center h-[5rem] p-6 gap-2">
      <img class="w-[40px] h-[40px]" src="/public/icons/features_icons/contact.svg" alt="" />
      <p class="font-bold">Contact management</p>
    </div>
    <div class="bg-gray-50 flex items-center h-[5rem] p-6 gap-2">
      <img class="w-[40px] h-[40px]" src="/public/icons/features_icons/mediaM.svg" alt="" />
      <p class="font-bold">Media management</p>
    </div>
    <div class="bg-gray-50 flex items-center h-[5rem] p-6 gap-2">
      <img class="w-[40px] h-[40px]" src="/public/icons/features_icons/social.svg" alt="" />
      <p class="font-bold">Social scheduling</p>
    </div>
    <div class="bg-gray-50 flex items-center h-[5rem] p-6 gap-2">
      <img class="w-[40px] h-[40px]" src="/public/icons/features_icons/ad.svg" alt="" />
      <p class="font-bold">Ad retargeting</p>
    </div>
  </div>
</body>
