---

---

<head>
  <link
    href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
    rel="stylesheet"
  />
</head>

<body>
  <div class="grid gap-2 items-center justify-center">
    <div data-aos="fade-up" data-aos-delay="100" class="flex justify-center items-center gap-2 mt-20 font-sans">
      <div class="border-b-[3px] w-[4rem] border-[#14279b]"></div>
      <h1 class="font-bold text-xl lg:text-3xl">OUR CORE FEATURES</h1>
      <div class="border-b-[3px] w-[4rem] border-[#14279b]"></div>
    </div>
    <p data-aos="fade-up" data-aos-delay="150" class="text-center p-3 lg:pl-[10rem] lg:pr-[8rem] text-gray-600">
      Akeshya is a forward-thinking and intelligent design firm that is
      technically and creatively capable of transforming your brand into its
      best digital self. Our approach to design and development results in
      compelling, engaging branding and immersive digital experiences that
      provide a value for money.
    </p>
  </div>
  <div data-aos="fade-up" data-aos-delay="200"
    class="grid grid-cols-1 lg:grid-cols-4 p-[1rem] gap-5 lg:pl-[8rem] lg:pr-[8rem] mt-[3rem] items-center justify-center font-raleway"
  >
    <div class="bg-gray-100 flex items-center h-[5rem] p-6 gap-2">
      <img class="w-[40px] h-[40px]" src="icons/features_icons/design.svg" alt="icon" />
      <p class="font-bold">Web design</p>
    </div>
    <div class="bg-gray-100 flex items-center h-[5rem] p-6 gap-2">
      <img class="w-[40px] h-[40px]" src="icons/features_icons/development.svg" alt="icon" />
      <p class="font-bold">Development</p>
    </div>
    <div class="bg-gray-100 flex items-center h-[5rem] p-6 gap-2">
      <img class="w-[40px] h-[40px]" src="icons/features_icons/branding.svg" alt="icon" />
      <p class="font-bold">Branding</p>
    </div>
    <div class="bg-gray-100 flex items-center h-[5rem] p-6 gap-2">
      <img class="w-[40px] h-[40px]" src="icons/features_icons/media.svg" alt="icon" />
      <p class="font-bold">Media buying</p>
    </div>
    <div class="bg-gray-100 flex items-center h-[5rem] p-6 gap-2">
      <img class="w-[40px] h-[40px]" src="icons/features_icons/search.svg" alt="icon" />
      <p class="font-bold">Search engine</p>
    </div>
    <div class="bg-gray-100 flex items-center h-[5rem] p-6 gap-2">
      <img class="w-[40px] h-[40px]" src="icons/features_icons/brandS.svg" alt="icon" />
      <p class="font-bold">Brand strategy</p>
    </div>
    <div class="bg-gray-100 flex items-center h-[5rem] p-6 gap-2">
      <img class="w-[40px] h-[40px]" src="icons/features_icons/marketing.svg" alt="icon" />
      <p class="font-bold w-[200px]">Local search marketing</p>
    </div>
    <div class="bg-gray-100 flex items-center h-[5rem] p-6 gap-2">
      <img class="w-[40px] h-[40px]" src="icons/features_icons/tracking.svg" alt="icon" />
      <p class="font-bold">Lead Tracking & Management</p>
    </div>
    <div class="bg-gray-100 flex items-center h-[5rem] p-6 gap-2">
      <img class="w-[40px] h-[40px]" src="icons/features_icons/contact.svg" alt="icon" />
      <p class="font-bold">Contact management</p>
    </div>
    <div class="bg-gray-100 flex items-center h-[5rem] p-6 gap-2">
      <img class="w-[40px] h-[40px]" src="icons/features_icons/mediaM.svg" alt="icon" />
      <p class="font-bold">Media management</p>
    </div>
    <div class="bg-gray-100 flex items-center h-[5rem] p-6 gap-2">
      <img class="w-[40px] h-[40px]" src="icons/features_icons/social.svg" alt="icon" />
      <p class="font-bold">Social scheduling</p>
    </div>
    <div class="bg-gray-100 flex items-center h-[5rem] p-6 gap-2">
      <img class="w-[40px] h-[40px]" src="icons/features_icons/ad.svg" alt="icon" />
      <p class="font-bold">Ad retargeting</p>
    </div>
  </div>
</body>
