---
---

<footer class="text-black flex justify-between items-center font-raleway">
    <div class="text-center pl-[7rem]">
      <p class="">&#169; Copyright <span class="font-bold">Akeshya</span>. All Rights Reserved</p>
    </div>
      <div class="flex gap-6 pr-[7rem]">
        <a href="#" class="hover:text-blue-500">Terms and conditions</a>
        <a href="#" class="hover:text-blue-500">Refund policy</a>
        <a href="#" class="hover:text-blue-500">Privacy policy</a>
      </div>
  </footer>
  