---
---

<footer class="text-black flex justify-between items-center font-raleway mt-[7rem] border-t-[1px] h-[6rem]">
    <div class="lg:text-center p-2 text-sm lg:text-normal">
      <p class="lg:pl-[7rem]">&#169; Copyright <span class="font-bold">Akeshya</span>. All Rights Reserved</p>
    </div>
      <div class="flex gap-2 lg:gap-6 pr-[2rem] lg:pr-[7rem]">
        <a href="#" class="text-blue-900 lg:text-black lg:hover:text-blue-500">Terms and conditions</a>
        <a href="#" class="text-blue-900 lg:text-black lg:hover:text-blue-500">Refund policy</a>
        <a href="#" class="text-blue-900 lg:text-black lg:hover:text-blue-500">Privacy policy</a>
      </div>
  </footer>
  