---
import '@fontsource-variable/raleway';
---

<head>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>

<body>
    <div>
        <div class="flex items-center font-raleway">
            <div class="text p-[6rem] w-[60vw] items-center">
                <h1 class="text-[50px] text-[#14279b] font-bold">Grow your business with Akeshya</h1>
                <p class="text-[22px]">We are team of talented website designers, developers & digital marketeers</p>
                <button class=" border-2 border-[#14279b] rounded-full mt-12 w-[9rem] h-[3rem] text-[17px] text-blue-800 hover:bg-[#14279b] hover:text-white">Get Started</button>
            </div>
            <div class="img w-[50vw]">
                <img src="/public/hero-img.png" alt="img">
            </div>
        </div>
        <div class="client-logos flex justify-center gap-32 items-center bg-blue-50 p-5">
            <img class="w-[100px] h-[100px] filter grayscale hover:filter-none" src="/public/client-logo/client-1.png" alt="">
            <img class="w-[70px] h-[70px] filter grayscale hover:filter-none" src="/public/client-logo/client-2.png" alt="">
            <img class="w-[100px] h-[70px] filter grayscale hover:filter-none" src="/public/client-logo/client-3.png" alt="">
            <img class="w-[70px] h-[70px] filter grayscale hover:filter-none" src="/public/client-logo/client-4.png" alt="">
            <img class="w-[70px] h-[30px] filter grayscale hover:filter-none" src="/public/client-logo/client-5.png" alt="">
            <img class="w-[100px] h-[100px] filter grayscale hover:filter-none" src="/public/client-logo/client-6.png" alt="">
        </div>
    </div>
</body>