---
---

<head>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>

<body>
    <div class="mt-[10rem] lg:mt-[4rem]">
        <div class="lg:flex lg:flex-row items-center font-raleway flex flex-col-reverse">
            <div class="text p-[1rem] lg:p-[6rem] lg:w-[60vw] items-center">
                <h1 data-aos="fade-up" class=" text-[28px] lg:text-[50px] text-[#14279b] font-bold">Grow your business with Akeshya</h1>
                <p data-aos="fade-up" data-aos-delay="400" class=" text-[15px] lg:text-[22px]">We are team of talented website designers, developers & digital marketeers</p>
                <button data-aos="fade-up" data-aos-delay="800" class="border-2 border-[#14279b] rounded-full mt-6 lg:mt-12 w-[9rem] h-[3rem] text-[17px] text-blue-800 hover:bg-[#14279b] hover:text-white">Get Started</button>
            </div>
            <div data-aos="fade-left" data-aos-delay="200" class=" img w-[90vw] lg:w-[50vw]">
                <img class="animate-up-down" src="/public/hero-img.png" alt="img">
            </div>
        </div>
        <div class="client-logos lg:flex justify-center gap-5 lg:gap-32 items-center bg-blue-50 lg:p-5 grid grid-cols-2 pl-[4rem] p-[1rem]">
            <img data-aos="zoom-in" class="w-[55px] h-[55px] lg:w-[100px] lg:h-[100px] filter grayscale hover:filter-none" src="/public/client-logo/client-1.png" alt="">
            <img data-aos="zoom-in" class=" w-[35px] h-[35px] lg:w-[70px] lg:h-[70px] filter grayscale hover:filter-none" src="/public/client-logo/client-2.png" alt="">
            <img data-aos="zoom-in" class=" w-[45px] h-[45px]  lg:w-[100px] lg:h-[70px] filter grayscale hover:filter-none" src="/public/client-logo/client-3.png" alt="">
            <img data-aos="zoom-in" class=" w-[35px] h-[35px] lg:w-[70px] lg:h-[70px] filter grayscale hover:filter-none" src="/public/client-logo/client-4.png" alt="">
            <img data-aos="zoom-in" class=" w-[35px] h-[35px] lg:w-[70px] lg:h-[30px] filter grayscale hover:filter-none" src="/public/client-logo/client-5.png" alt="">
            <img data-aos="zoom-in" class=" w-[45px] h-[45px] lg:w-[100px] lg:h-[100px] filter grayscale hover:filter-none" src="/public/client-logo/client-6.png" alt="">
        </div>
    </div>
</body>