---
import ServiceCard from "./card/ServiceCard.astro";
---

<head>
  <link
    href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
    rel="stylesheet"
  />
</head>

<body>
  <div class="grid gap-2 items-center justify-center">
    <div class="flex justify-center items-center gap-2 mt-20 font-sans">
      <div class="border-b-[3px] w-[4rem] border-[#14279b]"></div>
      <h1 class="font-bold text-3xl">OUR PROCESS</h1>
      <div class="border-b-[3px] w-[4rem] border-[#14279b]"></div>
    </div>
    <p>
        Over the years we've evolved a tested method for attaining achievement for each one of our clients.
    </p>
  </div>
  <div class="info grid grid-cols-2 p-[5rem] gap-[5rem] justify-center items-center mt-20 mr-14 ml-14">
    <div class=" bg-gray-50 p-[2.5rem] grid gap-3 rounded-2xl shadow-custom text-gray-600 hover:bg-[#14279b] hover:text-white">
        <p class="flex justify-center items-center font-bold text-lg">1. Planning</p>
        <p class="flex justify-center items-center">We help you turn all of your ideas into a digital product that meets all of your requirements. We begin each project by determining its scope and needs. This is done by collaborating closely with you to ensure that we're all on the same page.</p>
    </div>
    <div class=" bg-gray-50 p-[2.5rem] grid gap-3 rounded-2xl shadow-custom text-gray-600 hover:bg-[#14279b] hover:text-white">
        <p class="flex justify-center items-center font-bold text-lg">2. Design</p>
        <p class="flex justify-center items-center">We build our websites carefully through a series of workshops, wire-framing, and user experience (UX) sessions, resulting in a site that reinforces trust, conveys important brand messaging, and provides a return on innovation.</p>
    </div>
    <div class=" bg-gray-50 p-[2.5rem] grid gap-3 rounded-2xl shadow-custom text-gray-600 hover:bg-[#14279b] hover:text-white">
        <p class="flex justify-center items-center font-bold text-lg">3. Development</p>
        <p class="flex justify-center items-center">We provide extensive front-end and back-end development that allows your idea to stand alone. Our in-house developers work side-by-side with the artistic team to seek out natural breakpoints inside the content and order practicality based on acknowledged statistics.</p>
    </div>
    <div class=" bg-gray-50 p-[2.5rem] grid gap-3 rounded-2xl shadow-custom text-gray-600 hover:bg-[#14279b] hover:text-white">
        <p class="flex justify-center items-center font-bold text-lg">4. Marketing</p>
        <p class="flex justify-center items-center">We come up with ideas and campaigns to help your business prosper online. Our campaigns and virtual approach have a verified tune report of accomplishing brilliant results, gathering new leads and site visitors in your website and assist them convert.</p>
    </div>
  </div>
</body>